.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 20px 20px 5px 20px;
}

/*
Inserting this collapsed row between two flex items will make
the flex item that comes after it break to a new row
*/

.break {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: 1px solid #ddd;
}

.item {
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 90, 250, 0.05), 0px 4px 4px rgba(0, 90, 250, 0.05), 0px 8px 8px rgba(0, 90, 250, 0.05), 0px 16px 16px rgba(0, 90, 250, 0.05);
  height: 60px;
  flex-grow: 1;
  margin: 1rem;
  text-align: center;
  padding: inherit;  
}

.orange {
  background-color: #FFA500;
}

.black {
  background-color: #000000;
  color: white;
}

.white {
  background-color: #FFFFFF;
}

.background {
  background-color: #292929;
  color: white;
}